


#contents_left {
	float: left;
	width: 190px;
	margin-right: 20px;
}
#contents_right {
	float: left;
	width: 710px;
}
#header {
	height: 200px;
	width: 190px;
	text-align: center;
	padding-top: 120px;
	border: 1px solid #999;
	margin-bottom: 10px;
	background-color: #FFF;
}

body {
	background-color: #CCC;
}

#wrapper {
	width: 920px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#mainVisual {
	margin-bottom: 10px;
	width:710px;
	height:280px;
	overflow:hidden;
	position:relative;
}
#mainVisual p{
	position:absolute;
	top:0px;
	left:0px;
}
.mainVisual_concept,.mainVisual_consulting,.mainVisual_production,.mainVisual_traning{
	display:none;
}
#con_concept, #con_consulting, #con_production, #con_traning {
	width: 170px;
	float: left;
	height: 220px;
	overflow:hidden;
}
#works {
	padding: 15px;
	width: 318px;
	float: left;
	background-color: #FFF;
	border: 1px solid #999;
	margin-right: 10px;
	overflow: hidden;
}
#mainContents {
	margin-bottom: 10px;
	overflow: hidden;
}
#information h2 {
	margin-bottom: 10px;
}
#information ul li a {
	text-decoration: none;
	color: #666;
}
#information ul li a span {
	margin-left: 15px;
	color: #36F;
}
#information ul li {
	margin-bottom: 10px;
}




#works h2 {
	margin-bottom: 10px;
}
#works ul li {
	float: left;
	margin-bottom: 10px;
}
#information {
	width: 318px;
	float: left;
	padding: 15px;
	background-color: #FFF;
	border: 1px solid #999;
	overflow: hidden;
}

.works_links_left {
	margin-right: 37px;
}






#con_concept, #con_consulting, #con_production {
	margin-right: 10px;
}

html {
	font-size: 12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 140%;
}
.con_h2 {
	margin-bottom: 15px;
}
.con_txt {
	text-align: left;
	line-height: 140%;
}
#footer {
	background-image: url(../images/footer_bg.png);
	clear: both;
	height: 20px;
	text-align: center;
	padding-top: 10px;
}
.con_concept_hover {
	height: 220px;
	width: 170px;
	background-color: gray;
}
.con_consulting_hover {
	height: 220px;
	width: 170px;
	background-color: gray;
}
.con_production_hover {
	height: 220px;
	width: 170px;
	background-color: gray;
}
.con_traning_hover {
	height: 220px;
	width: 170px;
	background-color: gray;
}
